In [3]:
#Importing all the neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import re
import string
from wordcloud import WordCloud
from collections import Counter

from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

from sklearn.feature_extraction.text import TfidfVectorizer

**Load Data**

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/srkcheema/GenreAnalysis/main/data.csv')
df.head()

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species inhabited the earth. Today there is just one. Us. Homo sapiens.\n\nHow did our species succeed in the battle for dominance? Why did our foraging ancestors come together to create cities and kingdoms? How did we come to believe in gods, nations and hu...",history
1,1,"Guns, Germs, and Steel: The Fates of Human Societies",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scope ... one of the most important and readable works on the human past published in recent years.""\n\nWinner of the Pulitzer Prize and a national bestseller: the global account of the rise of civilization that is also a stunning refutation of ideas of ...",history
2,2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side of history from the more traditional ""fundamental nationalist glorification of country"".\nZinn portrays a side of American history that can largely be seen as the exploitation and manipulation of the majority by rigged systems that hugely favor a smal...",history
3,3,"The Devil in the White City: Murder, Magic, and Madness at the Fair That Changed America",3.99,Erik Larson,"6,13,157","36,644",64.2k,"Author Erik Larson imbues the incredible events surrounding the 1893 Chicago World's Fair with such drama that readers may find themselves checking the book's categorization to be sure that 'The Devil in the White City' is not, in fact, a highly imaginative novel. Larson tells the stories of two...",history
4,4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621","Discovered in the attic in which she spent the last years of her life, Anne Frank’s remarkable diary has become a world classic—a powerful reminder of the horrors of war and an eloquent testament to the human spirit.\n\nIn 1942, with the Nazis occupying Holland, a thirteen-year-old Jewish girl a...",history