In [1]:
#Importing all the neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import re
import string
from wordcloud import WordCloud
from collections import Counter

import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import WhitespaceTokenizer as w_tokenizer
nltk.download('stopwords')

from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

**Load Data**

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/srkcheema/GenreAnalysis/main/data.csv')
df.head()

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
1,1,"Guns, Germs, and Steel: The Fates of Human Soc...",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scop...",history
2,2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history
3,3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history
4,4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history

## **Data Cleaning**

In [3]:
df.shape

(1539, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1539 entries, 0 to 1538
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1539 non-null   int64
 1   title          1539 non-null   object
 2   rating         1539 non-null   float64
 3   name           1539 non-null   object
 4   num_ratings    1539 non-null   object
 5   num_reviews    1539 non-null   object
 6   num_followers  1539 non-null   object
 7   synopsis       1539 non-null   object
 8   genre          1539 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 108.3+ KB



#### **1.   Drop *Unamed: 0* Column**

In [5]:
#Drop Unnamed: 0 Column
df.drop(columns = ["Unnamed: 0"], inplace = True)
df.head()

,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
1,"Guns, Germs, and Steel: The Fates of Human Soc...",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scop...",history
2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history
3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history
4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history

In [6]:
df.dtypes

title             object
rating           float64
name              object
num_ratings       object
num_reviews       object
num_followers     object
synopsis          object
genre             object
dtype: object

#### **2.   Convert *num_followers* column to integer**

In [7]:
df['num_followers'].replace({'k': '*1000', ',': '', ' followers': '',}, regex=True, inplace=True) #Replace comma and k 
inter_m=df["num_followers"].str.split("*",expand=True).astype('float')                            #split columns and store in intermediate dataset
inter_m = inter_m.fillna(1)                                                                       #fill NaN values in intermediate dataset with 1
df["num_followers"]=inter_m[0] * inter_m[1]                                                       #multiple columns and store in num_followers column
df['num_followers'] = df['num_followers'].astype(int)                                             #change num_followers type to Integer

In [8]:
df.dtypes

title             object
rating           float64
name              object
num_ratings       object
num_reviews       object
num_followers      int64
synopsis          object
genre             object
dtype: object